.mainbox{
    background: dodgerblue;
    display: flex;
}

.dividetwobox{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.childclass{
    display: flex;
    gap: 20px;
}