<div>

    <!-- <mat-sidenav-container fullscreen>
        <mat-sidenav style="width: 12%;" #sidenav mode="push">
            <div class="headerbox">
                <div class="sidenavlogo">
                    <img src="assets/download (1).jpg" style="border-radius: 50px;" alt="image" width="100%" height="100%"/>
                </div>
                <div class="usertitle">
                    superadmin name
                </div>
            </div>
            <section>
                <mat-list class="nav" style="padding: 10px;">
                    <a  class="sideitem" routerLink="/">
                        <div class="hover sidebox" >
                            <div class="navclass">
                                <mat-icon>
                                    people</mat-icon>
                                    <span >User</span>
                            </div>
                           
                          
                        </div>
                    </a>
                    <a  class="sideitem" >
                        <div class="hover sidebox" >
                            <div class="navclass">
                                <mat-icon >
                                    people</mat-icon>
                                <span >Employee</span>
                            </div>
                           
                          
                        </div>
                    </a>
                   
                   
                </mat-list>
            </section>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content-container">
                
                <router-outlet></router-outlet>

             
            </div>

        </mat-sidenav-content>
    </mat-sidenav-container> -->
    <mat-drawer-container class="example-container" fullscreen>
        <mat-toolbar color="primary" style="position:sticky; width: 100%;">
            <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <mat-label (click)="logout()" style="cursor: pointer;">Logout</mat-label>
            <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>power</mat-icon>
                <mat-label>Logout</mat-label>
                
            </button> -->
            <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button> -->
        </mat-toolbar>
        <mat-drawer #sidenav class="example-sidenav" mode="side">
            <div class="headerbox">
                <div class="sidenavlogo">
                    <img src="assets/download (1).jpg" style="border-radius: 50px;" alt="image" width="100%"
                        height="100%" />
                </div>
                <div class="usertitle">
                    superadmin name
                </div>
            </div>
            <section>
                <mat-list class="nav" style="padding: 10px;">
                    <a  class="sideitem"  routerLink="/user">
                        <div class="hover sidebox" >
                            <div class="navclass">
                                <mat-icon>
                                    people</mat-icon>
                                    <span >User</span>
                            </div>
                           
                          
                        </div>
                    </a>
                    <a  class="sideitem" routerLink="/employee">
                        <div class="hover sidebox" >
                            <div class="navclass">
                                <mat-icon >
                                    people</mat-icon>
                                <span >Employee</span>
                            </div>
                           
                          
                        </div>
                    </a>
                   
                   
                </mat-list>
            </section>
        </mat-drawer>


        <div class="example-sidenav-content">
            <router-outlet></router-outlet>
           <!-- <h3>333</h3> -->
        </div>

    </mat-drawer-container>

</div>