<div class="mainbox" style="position: relative;">
    <div class="containerbox">
        <div class="childclass">
            <img src="assets/images.jfif" alt="image" width="100%" height="100%" />

        </div>
        <div class="childclass">
            <div class="loginboxcss">
                <div>
                    <h3>LOG IN</h3>
                </div>

                <div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">
                        <mat-form-field class="formfiled">
                            <mat-label>Email</mat-label>
                            <input matInput type="text" formControlName="email" required placeholder="Placeholder">
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error>Email is required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="formfiled">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" required [type]="hide ? 'password' : 'text'">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error>Password is required</mat-error>
                        </mat-form-field>
                        <div style="width:100%;margin-top: 20px;">
                            <button [disabled]="loginForm.invalid" style="width: 100%;" mat-fab extended color="primary">
                                Login
                            </button>

                        </div>
                    </form>

                </div>
            </div>


        </div>
    </div>
</div>